*{
    /* border: 0.1rem solid crimson; */
}
:root{
    --primaryColor: #0f4f72;
    --secondaryColor: #fff;
    --tertiararyColor: #387fa5;
    --ffprimary: "DM Serif Text";
    --ffsecondary: "Inter";
}
h1{
    font-family: var(--ffprimary);
    color: var(--primaryColor);
}
.table-primary th {
    background-color: var(--primaryColor) !important;
    color: var(--secondaryColor) !important;
}
.table{
    font-family: var(--ffsecondary);
}
.table td{
    color: var(--tertiararyColor);
}